include pyproct/clustering/evaluation/metrics/cython/normNCut.c
include pyproct/clustering/evaluation/metrics/cython/boundedCohesion.c
include pyproct/clustering/evaluation/metrics/cython/silhouette.c
include pyproct/clustering/evaluation/metrics/cython/meanMinimumDistance.c
include pyproct/clustering/evaluation/metrics/cython/meanMinimumDistance.c
include pyproct/clustering/algorithms/dbscan/cython/cythonDbscanTools.c
include pyproct/clustering/algorithms/spectral/cython/spectralTools.c
include README.md
include README.rst
include LICENSE
